{
  "x-responses": {
    "StdResponse": {
      "200": {
        "description": "Successful operation"
      },
      "401": {
        "$ref": "#/components/responses/Unauthorized"
      },
      "default": {
        "$ref": "#/components/responses/Error"
      }
    }
  },
  "x-types": [
    {
      "type": "integer"
    },
    {
      "type": "integer",
      "nullable": true
    },
    {
      "type": "string"
    },
    {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    {
      "type": "string",
      "nullable": true
    },
    {
      "type": "number"
    },
    {
      "type": "number",
      "nullable": true
    },
    {
      "type": "boolean"
    },
    {
      "type": "boolean",
      "nullable": true
    },
    {
      "type": "string",
      "format": "date-time"
    },
    {
      "type": "string",
      "format": "date-time",
      "nullable": true
    }
  ],
  "openapi": "3.0.0",
  "info": {
    "title": "Lingq.com API",
    "description": "HTTP API for lingq.com",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://www.lingq.com/api/v2",
      "description": "Official lingq.com API"
    }
  ],
  "paths": {
    "/{lang}/collections/{id}": {
      "get": {
        "summary": "Get collection data",
        "operationId": "langCollectionsIdGet",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/{lang}/lessons/{id}": {
      "get": {
        "summary": "Get lessson data",
        "operationId": "langLessonsIdGet",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Access token is missing or invalid"
      },
      "Error": {
        "description": "Unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "CollectionTeaser": {
        "type": "object",
        "required": [
          "pk",
          "url",
          "title",
          "description",
          "audio",
          "image",
          "imageUrl",
          "originalImageUrl",
          "completedRatio",
          "completedTimes",
          "lessonsCount",
          "newWordsCount",
          "difficulty",
          "level",
          "price",
          "provider",
          "providerImageUrl",
          "sharedByName",
          "sharedByImageUrl",
          "sourceURLEnabled",
          "sourceURL",
          "tags",
          "external_type",
          "rosesCount",
          "roseGiven",
          "type"
        ],
        "properties": {
          "pk": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "audio": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "originalImageUrl": {
            "type": "string"
          },
          "completedRatio": {
            "type": "number"
          },
          "completedTimes": {
            "type": "integer"
          },
          "lessonsCount": {
            "type": "integer"
          },
          "newWordsCount": {
            "type": "integer"
          },
          "difficulty": {
            "type": "number"
          },
          "level": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "provider": {
            "type": "string"
          },
          "providerImageUrl": {
            "type": "string"
          },
          "sharedByName": {
            "type": "string"
          },
          "sharedByImageUrl": {
            "type": "string"
          },
          "sourceURLEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "sourceURL": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "string"
          },
          "external_type": {
            "type": "string",
            "nullable": true
          },
          "rosesCount": {
            "type": "integer"
          },
          "roseGiven": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": [
              "collection"
            ]
          }
        }
      },
      "Collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionTeaser"
          },
          {
            "type": "object",
            "required": [
              "lessons"
            ],
            "properties": {
              "lessons": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LessonTeaser"
                }
              }
            }
          }
        ]
      },
      "LessonTeaser": {
        "type": "object",
        "required": [
          "id",
          "contentId",
          "collectionId",
          "collectionTitle",
          "url",
          "originalUrl",
          "imageUrl",
          "originalImageUrl",
          "providerImageUrl",
          "title",
          "description",
          "duration",
          "audio",
          "audioPending",
          "pubDate",
          "sharedDate",
          "sharedByName",
          "giveRoseUrl",
          "wordCount",
          "uniqueWordCount",
          "external_type",
          "type",
          "status",
          "pos",
          "price",
          "opened",
          "completed",
          "percentCompleted",
          "newWordsCount",
          "difficulty",
          "providerName",
          "providerDescription",
          "lastRoseReceived",
          "lessonRating",
          "lessonVotes",
          "audioRating",
          "audioVotes",
          "rosesCount",
          "isFavorite",
          "isOverLimit",
          "level",
          "tags",
          "providerUrl",
          "readTimes",
          "listenTimes",
          "roseGiven",
          "openDate",
          "viewsCount",
          "isProtected"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "contentId": {
            "type": "integer"
          },
          "collectionId": {
            "type": "integer"
          },
          "collectionTitle": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "originalUrl": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string"
          },
          "originalImageUrl": {
            "type": "string"
          },
          "providerImageUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "audio": {
            "type": "string"
          },
          "audioPending": {
            "type": "boolean"
          },
          "pubDate": {
            "type": "string",
            "format": "date-time"
          },
          "sharedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sharedByName": {
            "type": "string"
          },
          "giveRoseUrl": {
            "type": "string"
          },
          "wordCount": {
            "type": "integer"
          },
          "uniqueWordCount": {
            "type": "integer"
          },
          "external_type": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "lesson"
            ]
          },
          "status": {
            "type": "string"
          },
          "pos": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "opened": {
            "type": "boolean"
          },
          "completed": {
            "type": "boolean"
          },
          "percentCompleted": {
            "type": "number"
          },
          "newWordsCount": {
            "type": "integer"
          },
          "difficulty": {
            "type": "number"
          },
          "providerName": {
            "type": "string"
          },
          "providerDescription": {
            "type": "string"
          },
          "lastRoseReceived": {
            "type": "string",
            "format": "date-time"
          },
          "lessonRating": {
            "type": "number"
          },
          "lessonVotes": {
            "type": "integer"
          },
          "audioRating": {
            "type": "number"
          },
          "audioVotes": {
            "type": "integer"
          },
          "rosesCount": {
            "type": "integer"
          },
          "isFavorite": {
            "type": "boolean"
          },
          "isOverLimit": {
            "type": "boolean",
            "nullable": true
          },
          "level": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "providerUrl": {
            "type": "string"
          },
          "readTimes": {
            "type": "number"
          },
          "listenTimes": {
            "type": "number"
          },
          "roseGiven": {
            "type": "boolean"
          },
          "openDate": {
            "type": "string",
            "format": "date-time"
          },
          "viewsCount": {
            "type": "integer"
          },
          "isProtected": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Lesson": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LessonTeaser"
          },
          {
            "type": "object",
            "required": [
              "notes",
              "collection",
              "tokenizedText",
              "classicUrl",
              "timestamp ?",
              "sharedByImageUrl",
              "sharedByIsFriend",
              "promotedCourse",
              "printUrl",
              "canEdit",
              "canEditSentence",
              "nextLessonId",
              "previousLessonId",
              "videoUrl",
              "cardsCount",
              "bookmark",
              "isLegacy",
              "cards",
              "words"
            ],
            "properties": {
              "notes": {
                "type": "string",
                "nullable": true
              },
              "collection": {
                "$ref": "#/components/schemas/CollectionTeaser"
              },
              "tokenizedText": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TokenizedTextGroup"
                }
              },
              "classicUrl": {
                "type": "string"
              },
              "sharedByImageUrl": {
                "type": "string"
              },
              "sharedByIsFriend": {
                "type": "boolean"
              },
              "promotedCourse": {
                "type": "boolean",
                "nullable": true
              },
              "printUrl": {
                "type": "string"
              },
              "canEdit": {
                "type": "boolean"
              },
              "canEditSentence": {
                "type": "boolean"
              },
              "nextLessonId": {
                "type": "integer",
                "nullable": true
              },
              "previousLessonId": {
                "type": "integer",
                "nullable": true
              },
              "videoUrl": {
                "type": "string",
                "nullable": true
              },
              "cardsCount": {
                "type": "integer"
              },
              "bookmark": {
                "$ref": "#/components/schemas/Bookmark"
              },
              "isLegacy": {
                "type": "boolean"
              },
              "words": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/Word"
                }
              },
              "cards": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        ]
      },
      "Bookmark": {
        "type": "object - wordIndex - completedWordIndex - audioPosition - client - timestamp - languageTimestamp",
        "properties": {
          "wordIndex": {
            "type": "integer"
          },
          "completedWordIndex": {
            "type": "integer",
            "nullable": true
          },
          "audioPosition": {
            "type": "number",
            "nullable": true
          },
          "client": {
            "type": "string",
            "enum": [
              "web"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "languageTimestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Card": {
        "type": "object",
        "required": [
          "pk",
          "status",
          "importance",
          "extended_status",
          "words",
          "altScript",
          "hints",
          "term",
          "srs_due_date",
          "notes",
          "fragment"
        ],
        "properties": {
          "pk": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "importance": {
            "type": "integer"
          },
          "extended_status": {
            "type": "integer",
            "nullable": true
          },
          "words": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardsHint"
            }
          },
          "term": {
            "type": "string"
          },
          "srs_due_date": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": "string"
          },
          "fragment": {
            "type": "string"
          }
        }
      },
      "CardsHint": {
        "type": "object",
        "required": [
          "id",
          "flagged",
          "locale",
          "term_id",
          "is_google_translate",
          "popularity",
          "approved",
          "detected_locale",
          "creator_id",
          "text",
          "word_id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "flagged": {
            "type": "boolean"
          },
          "locale": {
            "type": "string"
          },
          "term_id": {
            "type": "integer"
          },
          "is_google_translate": {
            "type": "boolean"
          },
          "popularity": {
            "type": "integer"
          },
          "approved": {
            "type": "boolean"
          },
          "detected_locale": {
            "type": "string",
            "nullable": true
          },
          "creator_id": {
            "type": "integer",
            "nullable": true
          },
          "text": {
            "type": "string"
          },
          "word_id": {
            "type": "integer"
          }
        }
      },
      "Word": {
        "type": "object",
        "required": [
          "importance",
          "text",
          "status",
          "tags"
        ],
        "properties": {
          "importance": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "known",
              "card"
            ]
          },
          "hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordHint"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WordHint": {
        "type": "object",
        "required": [
          "id",
          "locale",
          "flagged",
          "text",
          "is_google_translate",
          "popularity"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "locale": {
            "type": "string"
          },
          "flagged": {
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "is_google_translate": {
            "type": "boolean"
          },
          "popularity": {
            "type": "integer"
          }
        }
      },
      "TokenizedTextGroup": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TokenizedTextItem"
        }
      },
      "TokenizedTextItem": {
        "type": "object",
        "required": [
          "index",
          "timestamp",
          "text",
          "tokens",
          "normalizedText"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Token"
            }
          },
          "normalizedText": {
            "type": "string"
          }
        }
      },
      "Token": {
        "type": "object",
        "required": [
          "index",
          "text",
          "indexInSentence",
          "wordId"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "indexInSentence": {
            "type": "integer"
          },
          "wordId": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
